# Bag of Words

In [12]:
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [4]:
import nltk
from nltk.stem import PorterStemmer

In [2]:
sentence_1="Shyam performed better than Amina in NLP course"
sentence_2="Amina performed better than Shyam in NLP course"

In [5]:
analyzer=CountVectorizer().build_analyzer()
def stemmed_words(doc):
    return (PorterStemmer().stem(w) for w in analyzer(doc))

In [6]:
countvec=CountVectorizer(stop_words="english",analyzer=stemmed_words,ngram_range=(1,2))

In [8]:
count_data=countvec.fit_transform([sentence_1,sentence_2])

In [9]:
countvec.get_feature_names()

['amina', 'better', 'cours', 'in', 'nlp', 'perform', 'shyam', 'than']

In [10]:
df=pd.DataFrame(count_data.toarray(),columns=countvec.get_feature_names())

In [11]:
df

   amina  better  cours  in  nlp  perform  shyam  than
0      1       1      1   1    1        1      1     1
1      1       1      1   1    1        1      1     1

# Term Frequency : TF:IDF

In [13]:
corpus = [

'NLP is an elective course',
'NLP course is relevant for data science and data engineering',
'Shyam performed better than Amina in NLP course',
'Amina performed better than Shyam in NLP course',
]

In [14]:
vectorizer=TfidfVectorizer(stop_words="english",ngram_range=(1,1))
x=vectorizer.fit_transform(corpus)

In [19]:
vectorizer.get_feature_names()

['amina',
 'better',
 'course',
 'data',
 'elective',
 'engineering',
 'nlp',
 'performed',
 'relevant',
 'science',
 'shyam']

In [15]:
df1=pd.DataFrame(x.toarray(),columns=vectorizer.get_feature_names())

In [18]:
x.toarray()

array([[0.        , 0.        , 0.41988018, 0.        , 0.8046125 ,
        0.        , 0.41988018, 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.18998505, 0.72813318, 0.        ,
        0.36406659, 0.18998505, 0.        , 0.36406659, 0.36406659,
        0.        ],
       [0.45285526, 0.45285526, 0.29974026, 0.        , 0.        ,
        0.        , 0.29974026, 0.45285526, 0.        , 0.        ,
        0.45285526],
       [0.45285526, 0.45285526, 0.29974026, 0.        , 0.        ,
        0.        , 0.29974026, 0.45285526, 0.        , 0.        ,
        0.45285526]])

In [16]:
df1

,amina,better,course,data,elective,engineering,nlp,performed,relevant,science,shyam
0,0.000000,0.000000,0.419880,0.000000,0.804612,0.000000,0.419880,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.189985,0.728133,0.000000,0.364067,0.189985,0.000000,0.364067,0.364067,0.000000
2,0.452855,0.452855,0.299740,0.000000,0.000000,0.000000,0.299740,0.452855,0.000000,0.000000,0.452855
3,0.452855,0.452855,0.299740,0.000000,0.000000,0.000000,0.299740,0.452855,0.000000,0.000000,0.452855